.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: "Libre Baskerville", serif;
    background-color: #F5F5DC; /* Bege claro, remetendo à simplicidade do campo */
    color: #3A5F0B; /* Verde escuro representando a natureza do Rio Grande do Sul */
}

h1, h2 {
    font-size: 5vw; /* Tamanho do título responsivo baseado na largura da tela */
    word-wrap: break-word;
    color: #D32F2F; /* Vermelho forte simbolizando as cores da bandeira gaúcha */
}

.question-container {
    margin-bottom: 20px;
}

.option {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.option:hover {
    transform: scale(1.05);
}

.option.selected {
    border: 2px solid #D32F2F; /* Borda vermelha para indicar a seleção */
    background-color: white;
}

.card-img-top {
    border-radius: 5px;
}

#result {
    margin-top: 20px;
    text-align: center;
}

#result img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

#result a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3A5F0B; /* Verde escuro para o botão "Conheça nosso site" */
    color: #F5F5DC; /* Texto bege claro */
    text-decoration: none;
    border-radius: 12px;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#result a:hover {
    background-color: #D32F2F; /* Cor vermelha forte no hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#submit {
    background-color: #D32F2F; /* Cor vermelha forte */
    color: #F5F5DC; /* Texto bege claro */
    border: none;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#submit:hover {
    background-color: #3A5F0B; /* Verde escuro no hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
    h1 {
        font-size: 6vw;
    }
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.fixed-size-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #D32F2F; /* Fundo vermelho forte */
    color: #F5F5DC; /* Texto bege claro */
}
#footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #D32F2F; /* Fundo vermelho forte */
    color: #F5F5DC; /* Texto bege claro */
    font-size: 10px; /* Tamanho da fonte ajustado para uma leitura confortável */
    font-weight: 400; /* Peso regular para a fonte */
}
